.Introduction {
    margin:20px 300px 20px 20px;
}



.Introduction p:nth-child(2) {
    text-align: justify;
    margin-top: 15px;
    color: #A8A8A8;
}

.Introduction p:nth-child(3) {
    text-align: justify;
    margin-top: 35px;
    color: #A8A8A8;
}

.Introduction p:nth-child(4) {
    text-align: justify;
    margin-top: 35px;
    color: #A8A8A8;
}

.Introduction p:nth-child(5) {
    text-align: justify;
    margin-top: 35px;
    color: #A8A8A8;
}